* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background-color: #ffffff;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  border: 2px solid black;
  height: 64px;
  min-width: 100%;
}

#hero {
  border: 2px solid black;
  min-height: 40px;
  min-width: 100%;
  margin: 0 0 45px 0;
}

#carousel {
  border: 2px solid black;
  min-height: 40px;
  min-width: 100%;
  margin: 45px 0;
}

#card {
  border: 2px solid black;
  min-height: 40px;
  min-width: 100%;
  margin: 45px 0;
}

#section {
  border: 2px solid black;
  min-height: 40px;
  min-width: 100%;
  margin: 45px 0;
}

#accordion {
  border: 2px solid black;
  min-height: 40px;
  min-width: 100%;
  margin: 45px 0;
}

#form {
  border: 2px solid black;
  min-height: 40px;
  min-width: 100%;
  margin: 45px 0;
}

footer {
  border: 2px solid black;
  height: 64px;
  min-width: 100%;
}
