* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
	background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100vw;
}

main div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  height: 64px;
  width: 100%;
}

#hero {
  height: 600px;
  width: 100vw;
  margin: 0 0 45px 0;
}

#carousel {
  height: 263px;
  width: 100vw;
  margin: 90px 0;
  flex-wrap: wrap;
}

#card {
  height: 847px;
  max-width: 1256px;
  margin: 0 auto 90px auto;
}

#section {
  height: 753px;
  max-width: 1256px;
  margin: 0 auto 90px auto;
}

#accordion {
  height: 803px;
  max-width: 1256px;
  margin: 0 auto 90px auto;
}

#form {
  height: 655px;
  max-width: 1256px;
  margin: 0 auto 90px auto;
}

footer {
  height: 64px;
  min-width: 100%;
  background: var(--main-yellow) 0% 0% no-repeat padding-box;
  background: #FFF000 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  color: #333333;
}

@media (min-width: 1256px) {
  #carousel-title p {
    margin: 0 18px;
  }
}
