* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100vw;
}

main div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  height: 64px;
  width: 100%;
}

#hero {
  height: 600px;
  width: 100vw;
  margin: 0 0 45px 0;
  /* background-image: url('../assets/images/hero-bg_pc@2x.png'); */
}

#carousel {
  border: 2px solid black;
  height: 263px;
  min-width: 100%;
  margin: 45px 0;
}

#card {
  border: 2px solid black;
  height: 847px;
  max-width: 1256px;
  margin: 45px auto 45px auto;
}

#section {
  border: 2px solid black;
  height: 753px;
  max-width: 1256px;
  margin: 45px auto 45px auto;
}

#accordion {
  border: 2px solid black;
  height: 803px;
  max-width: 1256px;
  margin: 45px auto 45px auto;
}

#form {
  border: 2px solid black;
  height: 655px;
  max-width: 1256px;
  margin: 45px auto 45px auto;
}

footer {
  border: 2px solid black;
  height: 64px;
  min-width: 100%;
  background: var(--main-yellow) 0% 0% no-repeat padding-box;
  background: #FFF000 0% 0% no-repeat padding-box;
}
