<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="css/components/card.css">
  </head>
  <body>
    <div id="card-title">
      <p>Card</p>
    </div>
    <div class="column-title">
      <p>4 column card on PC</p>
    </div>
    <div id="four-cards">
      <div id="card-row-1">
        <div class="card">
          <img src="../assets/images/card-4col-img1@2x.png">
          <p class="col-card-title">Card Title</p>
          <p class="col-card-content">Lorem ipsum dolor sit amet, ne quando populo qui.</p>
        </div>
        <div class="card">
          <img src="../assets/images/card-4col-img2@2x.png">
          <p class="col-card-title">Card Title</p>
          <p class="col-card-content">Lorem ipsum dolor sit amet, ne quando populo qui.</p>
        </div>
      </div>
      <div id="card-row-2">
        <div class="card">
          <img src="../assets/images/card-4col-img3@2x.png">
          <p class="col-card-title">Card Title</p>
          <p class="col-card-content">Lorem ipsum dolor sit amet, ne quando populo qui.</p>
        </div>
        <div class="card">
          <img src="../assets/images/card-4col-img4@2x.png">
          <p class="col-card-title">Card Title</p>
          <p class="col-card-content">Lorem ipsum dolor sit amet, ne quando populo qui.</p>
        </div>
      </div>
    </div>
    <div class="column-title">
      <p>3 column card on PC</p>
    </div>
    <div id="three-cards">
      <div class="card">
        <img src="../assets/images/card-3col-img1@2x.png">
        <p class="col-card-title">Card Title</p>
        <p class="col-card-content">Lorem ipsum dolor sit amet, ne quando populo qui.</p>
      </div>
      <div class="card">
        <img src="../assets/images/card-3col-img2@2x.png">
        <p class="col-card-title">Card Title</p>
        <p class="col-card-content">Lorem ipsum dolor sit amet, ne quando populo qui.</p>
      </div>
      <div class="card">
        <img src="../assets/images/card-3col-img3@2x.png">
        <p class="col-card-title">Card Title</p>
        <p class="col-card-content">Lorem ipsum dolor sit amet, ne quando populo qui.</p>
      </div>
    </div>
  </body>
</html>