<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel</title>
    <link rel="stylesheet" href="css/components/carousel.css">
  </head>
  <body>
    <div id="carousel-section">
      <div id="carousel-title">
        <p>Carousel</p>
      </div>
      <div id="carousel-row">
        <div id="carousel-images">
          <img src="../assets/images/carousel-img06@2x.png">
          <img src="../assets/images/carousel-img05@2x.png">
          <img src="../assets/images/carousel-img01@2x.png">
          <img src="../assets/images/carousel-img02@2x.png">
          <img src="../assets/images/carousel-img03@2x.png">
          <img src="../assets/images/carousel-img04@2x.png">
        </div>
        <div id="carousel-arrows">
          <img src="../assets/icons/carousel-arrow-prev.svg" class="carousel-arrow prev">
          <img src="../assets/icons/carousel-arrow-next.svg" class="carousel-arrow next">
        </div>
      </div>
    </div>
  </body>
</html>