<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="css/components/form.css">
  </head>
  <body>
	  <div id="form-title">
      <p>Form</p>
    </div>
    <div id="form-content">
      <div class="form-field">
        <div class="form-label">
          <p>Name</p>
        </div>
        <div class="form-input">
          <input type="text">
        </div>
      </div>
      <div class="form-field">
        <div class="form-label">
          <p>Company</p>
        </div>
        <div class="form-input">
          <input type="text">
        </div>
      </div>
      <div class="form-field">
        <div class="form-label">
          <p>E-mail</p>
        </div>
        <div class="form-input">
          <input type="email">
        </div>
      </div>
      <div class="form-field">
        <div class="form-label">
          <p>Select Field</p>
        </div>
        <div class="form-input">
          <select>
            <option value="option0"></option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
          </select>
        </div>
      </div>
      <div class="form-field">
        <div class="form-label">
          <p>Radio Field</p>
        </div>
        <div id="radio-form-input" class="form-input">
          <div class="form-row-1">
            <div class="form-row-content">
              <input type="radio">
              <p>Selection 1</p>
            </div>
            <div class="form-row-content">
              <input type="radio">
              <p>Selection 2</p>
            </div>
          </div>
          <div class="form-row-2">
            <div class="form-row-content">
              <input type="radio">
              <p>Selection 3</p>
            </div>
            <div class="form-row-content">
              <input type="radio">
              <p>Selection 4</p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-field">
        <div class="form-label">
          <p>Checkbox Field</p>
        </div>
        <div id="checkbox-form-input" class="form-input">
          <div class="form-row-1">
            <div class="form-row-content">
              <input type="checkbox">
              <p>Selection 1</p>
            </div>
            <div class="form-row-content">
              <input type="checkbox">
              <p>Selection 2</p>
            </div>
          </div>
          <div class="form-row-2">
            <div class="form-row-content">
              <input type="checkbox">
              <p>Selection 3</p>
            </div>
            <div class="form-row-content">
              <input type="checkbox">
              <p>Selection 4</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="form-submit">
      <button>Submit</button>
    </div>
  </body>
</html>