<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="css/components/header.css">
  </head>
  <body>
    <img src="../assets/icons/logo.svg" id="logo">
    <div id="header-items">
      <p>ABOUT</p>
      <p>SERVICE</p>
      <p>ACCESS</p>
      <p>
        RECRUIT
      </p>
      <img src="../assets/icons/icon-external.svg" id="icon-external">
    </div>
    <button>CONTACT</button>
  </body>
</html>