<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Section</title>
    <link rel="stylesheet" href="css/components/section.css">
  </head>
  <body>
    <div id="section-title">
      <p>Section</p>
    </div>
    <div class="row">
      <div class="col-img">
        <img src="../assets/images/section-img1@2x.png">
      </div>
      <div class="col-text">
        <p class="col-text-title">Card Title</p>
        <p class="col-text-desc">Lorem ipsum dolor sit amet, ne quando populo qui. Stet detraxit deseruisse nec ne. Eum eu altera deterruisset, quas augue graecis ne per, quo aeterno mentitum scribentur ex. Cum propriae periculis assueverit ea, in iriure accusata ius. Causae blandit argumentum sed at, appellantur liberavisse consectetuer ei cum.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-text">
        <p class="col-text-title">Card Title</p>
        <p class="col-text-desc">Lorem ipsum dolor sit amet, ne quando populo qui. Stet detraxit deseruisse nec ne. Eum eu altera deterruisset, quas augue graecis ne per, quo aeterno mentitum scribentur ex. Cum propriae periculis assueverit ea, in iriure accusata ius. Causae blandit argumentum sed at, appellantur liberavisse consectetuer ei cum.</p>
      </div>
      <div class="col-img">
        <img src="../assets/images/section-img2@2x.png">
      </div>
    </div>
  </body>
</html>