#hero {
  background: transparent url('../../assets/images/hero-bg_sp@2x.png') 0% 0% no-repeat padding-box;
  background-size: contain;
}

#content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  letter-spacing: 0px;
  color: #333333;
  text-shadow: 0px 0px 5px #FFFFFF;
}

#content p:nth-child(1) {
  text-align: center;
  font: normal normal bold 60px/79px Roboto;
  letter-spacing: 0px;
  color: #333333;
  text-shadow: 0px 0px 5px #FFFFFF;
}

#content p:nth-child(2) {
  text-align: center;
  font: normal normal bold 32px/44px Roboto;
  letter-spacing: 0px;
  color: #333333;
  text-shadow: 0px 0px 3px #FFFFFF;
}

@media (min-width: 376px) {
  #hero {
    background-image: url('../../assets/images/hero-bg_pc@2x.png');
    height: 600px;
    width: 100%;
    background-size: cover;
  }
}

@media (min-width: 768px) {
  #content p:nth-child(1) {
    text-align: center;
    font: normal normal bold 120px/159px Roboto;
    letter-spacing: 0px;
    color: #333333;
    text-shadow: 0px 0px 5px #FFFFFF;
  }

  #content p:nth-child(2) {
    text-align: center;
    font: normal normal bold 48px/63px Roboto;
    letter-spacing: 0px;
    color: #333333;
    text-shadow: 0px 0px 3px #FFFFFF;
  }
}
