#section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

#section-title {
  text-align: left;
  font: normal normal bold 48px/44px Roboto;
  letter-spacing: 0px;
  color: #333333;
  height: 63px;
  width: 163px;
  margin-bottom: 30px;
}

#section-title p {
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  height: 290px;
  width: 100%;
}

.col-img {
  width: 100%;
  max-width: 514px;
  height: 290px;
}

.col-text {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 726px;
}

.col-text:nth-child(1) {
  margin-right: 16px;
}

.col-text:nth-child(2) {
  margin-left: 16px;
}

.col-text-title {
  text-align: left;
  font: normal normal bold 32px/44px Roboto;
  letter-spacing: 0px;
  color: #333333;
  margin-bottom: 15px;
}

.col-text-desc {
  text-align: left;
  font: normal normal normal 20px/32px Roboto;
  letter-spacing: 0px;
  color: #333333;
}
